/*
TEXT black = #000000
TEXT AREA white = #FFFFFF
MAIN pinky red = #d47d7d
ACCENT darker pinky red = #b84848
BACKGROUND cyan = #8bd5d6
*/

body{
    background-color : #8bd5d6;
}

header{
    background-color : #FFFFFF;
    border-top-left-radius : 10px;
    border-top-right-radius : 10px;
    margin : 5px;
}

h1, h2, h3, h4, h5, h6, p{
    font-family :'Courier New', Courier, monospace;
    color : #000000;
}

h1{
    font-size : 36px;
}
h3{
    font-size : 25px;
}
p{
    font-size : 18px;
}

main{
    background-color : #FFFFFF;
    border-radius : 10px;
    margin : 5px;
}

aside{
    background-color : #FFFFFF;
    border-radius : 10px;
}

footer{
    background-color : #d47d7d;
    border-radius : 10px;
}

nav li{
    border : 2px, solid, #b84848;
    background-color : #d47d7d;
    list-style-type: none;
}
nav li a{
    color : #FFFFFF;
    text-align : center;
    text-decoration: none;
}
nav li:hover{
    background-color : #b84848;
}
.active{
    background-color : #b84848;
}

table{
    font-family :'Courier New', Courier, monospace;
    border-collapse: collapse;
}
table td, table th{
    border : 2px, solid, #F0F0F0;
}
table tr:nth-child(even){
    background-color : #F2F2F2;
}
table tr:hover{
    background-color : #8bd5d6;
}
Table th{
    background-color : #d47d7d;
    color : #FFFFFF;
}